<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row container">
      <div class="col-md-6 who">
        <h3>Who I am</h3>
        <p>I'm a proud Colorado native, MINI Cooper driver, former competitive Tetris player, and cat lover. I'm moderately obsessed with Roy Lichtenstein, Charles Eames, and Andy Warhol. Occasionally I can play a decent game of foosball, but I'll always kick your a** in Guitar Hero.</p>
        <a href="https://twitter.com/averyhadzi" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/averywolkinhadzi" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
        <a href="mailto:hello@averywolkinhadzi.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
      </div>
      <div class="col-md-6 current">
        <h3>What I'm doing</h3>
        <p>Currently I am a Digital Producer & UI/UX Designer at <a href="http://www.tapinfluence.com" target="_blank" title="TapInfluence">TapInfluence</a>, where I focus on user experience and interface design for our SaaS platform. In my time at TapInfluence, I have designed interactive widgets and custom development projects for brands like Hidden Valley Ranch, King's Hawaiian, Microsoft, Quaker, Kraft, Udi's Gluten Free, and Black Box Wines.</p>
        <a href="img/Avery-Wolkin-Hadzi_Resume.pdf" class="btn btn-outline btn-lg" target="_blank"><i class="fa fa-download"></i> Download Resume </a>
      </div>
      <div class="col-md-12">
        <h3>Technical Skills</h3>
        <div class="skills">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span class="skill">Photoshop</span><span class="percent">100%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              <span class="skill">Illustrator</span><span class="percent">90%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
              <span class="skill">HTML</span><span class="percent">95%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
              <span class="skill">CSS</span><span class="percent">95%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
              <span class="skill">JavaScript</span><span class="percent">35%</span>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="col-md-6 ">
        <div id="diagram"></div>
        <div class="get">
          <div class="arc">
            <span class="text">Photoshop</span>
            <input type="hidden" class="percent" value="95" />
            <input type="hidden" class="color" value="#E6790F" />
          </div>
          <div class="arc">
            <span class="text">Illustrator</span>
            <input type="hidden" class="percent" value="90" />
            <input type="hidden" class="color" value="#EFFFC9" />
          </div>
          <div class="arc">
            <span class="text">CSS3/LESS/Sass</span>
            <input type="hidden" class="percent" value="95" />
            <input type="hidden" class="color" value="#1CBFA3" />
          </div>
          <div class="arc">
            <span class="text">HTML5</span>
            <input type="hidden" class="percent" value="90" />
            <input type="hidden" class="color" value="#992B06" />
          </div>
          <div class="arc">
            <span class="text">JavaScript</span>
            <input type="hidden" class="percent" value="40" />
            <input type="hidden" class="color" value="#C94D00" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>