<header data-speed="7" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-speed="2">
        <span class="cutout profile-pic"><img class="img-responsive img-circle" src="img/profile.png" alt=""></span>
        <div class="intro-text">
          <div><span class="name">Hi! I'm Avery Wolkin Hadzi.</span></div>
          <!-- <hr class="star-light"> -->
          <p class="bio">I am a digital designer with a front-end developer’s heart and a UI/UX soul.</p>
        </div>
      </div>
    </div>
  </div>
</header>