<section id="portfolio" data-speed="4" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-udis.html" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>Udi's Gluten Free</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-udis.jpg" class="img-responsive img-circle" alt="Udi's Case Study" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-quaker" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>Quaker<sup>&reg;</sup> Oats</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-quaker.jpg" class="img-responsive img-circle" alt="Quaker Case Study" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-campbells" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>Campbell's<sup>&reg;</sup></br>Address Your Heart</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-campbells.jpg" class="img-responsive img-circle" alt="Campbell's Case Study" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-microsoft" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>Microsoft<sup>&reg;</sup></br>Nokia Lumia 928</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-microsoft.jpg" class="img-responsive img-circle" alt="Microsoft Case Study" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-Rtd" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>RTD Denver</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-rtd-2.jpg" class="img-responsive img-circle" alt="RTD Case Study" />
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolio-tapinfluence" class="portfolio-link" data-toggle="modal">
          <div class="caption cutout">
            <div class="caption-content">
              <i class="fa fa-plus-circle fa-3x"></i>
              <h2>TapInfluence</h2>
              <span>click to view</span>
            </div>
          </div>
          <img src="img/thumbnails/logo-TapInfluence.jpg" class="img-responsive img-circle" alt="TapInfluence Case Study" />
        </a>
      </div>
    </div>
  </div>
</section>